h1,
p {
  font-family: Lato;
}

.select-button {
  display: flex;
  border: 1px solid;
  width: 50%;
  padding: 4px 12px;
  border-radius: 3px;
  justify-content: space-between;
  align-items: baseline;
  cursor: pointer;
  margin-bottom: 5px;
}

.select-list-group {
  border: 1px solid;
  width: 50%;
  padding: 4px 12px;
  border-radius: 3px;
  position: absolute;
  top: 12px;
}

.select-list-item {
  list-style: none;
  cursor: pointer;
}

.select-list-item:hover {
  background-color: rgb(197, 183, 183);
}
